<!--include header-->
<%- include('include/header')%>
<!--include header-->

    <!--Main Site-->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/"><i class="fas fa-angle-double-left"></i>All Users</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Update Student</h2>
                <span class="text-light">Use the below form to Update an account</span>
            </div>

            <!--add user form-->
                       <!--form handling-->
                       <form method="POST" id="update_user">
                        <div class="new_user">
                         <div class="form-group">
                             <label for="name"class="text-light">Name</label>
                             <input type="hidden" name="id" value="<%= user._id %>">
                             <input type="text" name="name" value="<%= user.name %>" placeholder="Manindra">
                         </div>
                         <div class="form-group">
                             <label for="email"class="text-light">Email</label>
                             <input type="text" name="email" value="<%= user.email %>" placeholder="example@gmail.com">
                         </div>
                         <div class="form-group">
                             <label for="age"class="text-light">Age</label>
                             <input type="text" name="age" value="<%= user.age %>" placeholder="20">
                         </div>
                         <div class="form-group">
                             <label for="course"class="text-light">Course</label>
                             <div class="radio inline">
                                 <input type="radio" id="radio-2" name="course" value="Web Development"<%= user.course == 'Web Development' ? 'checked':" %>>
                                 <label for="radio-2" class="radio-label">Web Development</label>
                             </div>
                             <div class="radio inline">
                                 <input type="radio" id="radio-3" name="course" value="Machine learning"<%= user.course == 'Machine learning' ? 'checked':" %>>
                                 <label for="radio-3" class="radio-label">Machine learning</label>
                             </div>
                         </div>
         
                         <div class="form-group">
                             <label for="course"class="text-light">Status</label>
                             <div class="radio inline">
                                 <input type="radio" id="radio-4" name="status" value="Active"<%= user.course == 'Active' ? 'checked':" %>>
                                 <label for="radio-4" class="radio-label">Active</label>
                             </div>
                             <div class="radio inline">
                                 <input type="radio" id="radio-5" name="status" value="Inactive"<%= user.course == 'Inactive' ? 'checked':" %>>
                                 <label for="radio-5" class="radio-label">Inactive</label>
                             </div>
                         </div>
         
                         <div class="form-group">
                             <button type="submit" class="btn text-dark update">Save</button>
                         </div>
         
         
                        </div>
                     </form>
                     


        </div>
    </main>
    <!--/Main Site-->

<!--include footer-->
<%- include('include/footer')%>
<!--include footer-->